@import url('https://fonts.googleapis.com/css2?family=Elsie+Swash+Caps:wght@400;900&display=swap');

.container{
    display: flex;
    margin: 4rem 0;

    &__infos{
        flex: 1;

        &__titulo{
            font-size: 22px;
            font-weight: 400;

            &__plantas{
                font-weight: bold;
                font-size: 82px;
                font-family: "Elsie Swash Caps", serif;
            }
        };

        &__texto{
            font-size: 16px;
            line-height: 26px;
        };

        &__input{
            height: 75px;
            border: none;
            outline: none;
            text-align: left;
            width: 450px;
            background-image: url("../../assets/icon-mail.svg");
            background-repeat: no-repeat;
            background-position: 16px center;
            text-align: center;

            &:hover{
                box-shadow: 10px 10px 30px 0px #0000002e;
            };

            &:focus{
                box-shadow: 10px 10px 30px 0px #0000002e;
            }
        };

        &__button{
            border: none;
            background-color: #FFCB47;
            height: 75px;
            color: white;
            width: 194px;
            cursor: pointer;
            transition: 0.5s;

            &:hover{
                background-color: #c29a35;
            }
        };
    };

    &__visual{
        display: flex;
        flex: 1;

        &__img{
            max-width: 700px;
            margin: -20rem 0 0 -11rem;
            z-index: -10;
        }
    }
}